/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* style Changes */

a, .button {
    transition: all 300ms ease;
}

/* NAV BAR */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 18vh;
}

.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
    list-style: none;
}

a {
    color: rgb(39, 43, 42);
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(94, 181, 255);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: 500;
}

.logo:hover {
    cursor: default;
}